@import "@/styles/variable.scss";

#save {
  .head {
    background-color: #fff;
    display: flex;
    padding: 10px;

    .img {
      margin-right: 10px;
      border-radius: 4px;
      overflow: hidden;
    }
  }

  .user-info {
    .title {
      padding: 10px;
      font-size: 14px;
    }

    .switch-text {
      font-size: 14px;
      color: #666666;
      margin-left: 20px;
    }
  }

  .footbtn {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px;
  }
}


#save /deep/ {}
