@import "@/styles/variable.scss";

#save {
  background-color: #F6F6F6;
}

.user {
  margin: 15px 15px;

  .name-info {
    display: flex;
    margin-bottom: 10px;

    .name {
      font-size: 14px;
    }

    .hide {
      margin-left: 20px;
      font-size: 11px;
      display: flex;
      align-items: center;

      .hide-text {
        color: rgba(119, 119, 119, 1);
        font-size: 11px;
      }
    }
  }

  .input {
    color: rgba(136, 136, 136, 1);
    font-size: 14px;
    overflow: hidden;
    border: 1px solid rgba(187, 187, 187, 1);
  }

  .button-holder {
    margin-top: 15px;
    display: flex;

    .sex {
      width: 38px;
      height: 35px;
      text-align: center;
      line-height: 30px;
      margin-left: 10px;
      background-color: #fff;
      border: 1px solid rgba(255, 255, 255, 0);

      &.activ {
        background-color: rgba(66, 137, 219, 1);
        color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(255, 255, 255, 0);
      }
    }
  }

}

.sub {
  margin-top: 15px;
  line-height: 30px;
  width: 375px;
  height: 40px;
  border-radius: 4px;
  background-color: #4289db;
  color: white;
  font-size: 14px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0);
}

#save /deep/ {}
