@import "@/styles/variable.scss";

#cash {
  background-color: #F0F2F5;
  height: 100vh;
}

.panel {
  .panel-money {
    color: #ffffff;
    height: 117px;
    background-color: #4289DB;
    padding-left: 22px;

    .money-text {
      padding-top: 31px;
      font-size: 12px;
    }

    .money-num {
      margin-top: 15px;
      font-size: 28px;
    }
  }

  .panel-cash {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: #5D99E1;

    .cash {
      margin-left: 34px;
      margin-top: 5px;
      color: #ffffff;

      .cash-num {
        margin-top: 7px;
        font-size: 12px;
      }
    }

    .frozen {

      margin-right: 34px;
      margin-top: 5px;
      color: #ffffff;

      .frozen-num {
        margin-top: 7px;
        font-size: 12px;
      }
    }
  }
}

.account {
  .account-type {
    font-size: 22px;
    margin: 22px 22px;
  }

  .account-box {
    display: flex;

    // justify-content: space-between;
    .box1 {
      width: 52px;
      height: 37px;
      font-size: 14px;
      margin-left: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      text-align: center;
      border: 1px solid #cccccc;
    }
  }
}

.card {
  font-size: 22px;
  margin: 22px 22px;

  .card-input {
    border-radius: 5px;
    color: rgba(136, 136, 136, 1);
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0);
    overflow: hidden;
  }
}



.money {
  font-size: 22px;
  margin: 22px 22px;

  .money-input {
    width: 370px;
    height: 30px;
    border-radius: 5px;
    color: rgba(136, 136, 136, 1);
    font-size: 14px;
    padding-left: 10px;
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0);
  }
}

.btn {
  width: 370px;
  height: 40px;
  line-height: 40px;
  margin: 60px auto 0 auto;
  border-radius: 4px;
  background-color: #4289db;
  color: white;
  font-size: 14px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0);
}

.bottom-text {
  text-align: center;
  padding: 10px 0 20px 0;
}

#cash /deep/ {}
