@import "@/styles/variable.scss";

#edit {
  padding: 10px 15px;

  .input {
    border-radius: 5px;
    color: rgba(136, 136, 136, 1);
    font-size: 14px;
    border: 1px solid rgba(187, 187, 187, 1);
    overflow: hidden;
  }
  .tupian{
    .store-image {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      .img {
        display: block;
        width: 120px;
        height: 100px;

        background-color: #dddddd;
      }
  
      .tag{
        margin-left: 10px;
      }
  
    }
  
    .title {
      color: rgba(16, 16, 16, 1);
      font-size: 21px;
      margin-bottom: 13px;
    }
  }
  .name {
    margin-bottom: 30px;

    .title {
      color: rgba(16, 16, 16, 1);
      font-size: 21px;
      margin-bottom: 13px;
    }
  }

  .task-type {
    margin-bottom: 28px;

    .title {
      color: rgba(16, 16, 16, 1);
      font-size: 21px;
      margin-bottom: 13px;
    }

    .option {
      display: flex;
      margin-bottom: 10px;

      .item {
        margin-right: 10px;
        line-height: 20px;
        color: rgba(16, 16, 16, 1);
        font-size: 14px;
        padding: 8px 15px;
        background-color: #fff;
        border: 1px solid rgba(187, 187, 187, 1);

        &.activ {
          color: rgba(66, 137, 220, 1);
          border: 1px solid rgba(66, 137, 220, 1);
        }
      }
    }
  }

  .price {
    margin-bottom: 30px;

    .title {
      color: rgba(16, 16, 16, 1);
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  .info {
    margin-bottom: 20px;

    .title {
      color: rgba(16, 16, 16, 1);
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  .region {
    margin-bottom: 30px;

    .title {
      margin-bottom: 20px;
      color: rgba(16, 16, 16, 1);
      font-size: 16px;
    }

    .input {
      padding: 10px;
      background-color: #fff;
    }
  }

  .address {
    margin-bottom: 40px;

    .title {
      color: rgba(16, 16, 16, 1);
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  .btn {
    height: 46px;
    border-radius: 4px;
    margin: 0 auto;
    background-color: rgba(66, 137, 219, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0);
    margin-bottom: 30px;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
  {
  opacity: 0;
}

#edit /deep/ {}
