@import "@/styles/variable.scss";

#enroll {
  .panel {
    padding: 10px;
    background-color: #fff;
    border: 1px solid rgba(255, 255, 255, 0);

    .title {
      color: rgba(16, 16, 16, 1);
      font-size: 15px;
      margin-bottom: 10px;
    }
  }

  .btn {
    margin: 15px auto;
    height: 41px;
    border-radius: 4px;
    background-color: rgba(66, 137, 219, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0);
  }
}

#enroll /deep/ {}
