@import "@/styles/variable.scss";

#add {
    background-color: #F6F6F6;
    padding-top: 50px;
}

.input-text {
    width: 100%;
    border: 0;
    padding: 10px 15px;
    background-color: #ffffff;
}

.anonymous {
    display: flex;
    margin: 20px 10px;

    .title {
        font-size: 14px;
        flex: 1;
    }
}

.class {
    display: flex;
    margin: 20px 10px;

    .title {
        font-size: 14px;
        flex: 1;
    }
}

.btn-sub {
    background-color: #55C7C7;
    margin: 20px 10px;
    text-align: center;
    color: #ffffff;
    padding: 15px 0;
    border-radius: 5px;
}

#add /deep/ {}