@import "@/styles/variable.scss";
#release {

  padding: 10px;

  .trends-list {

    margin-bottom: 25px;

    .item {
      
      .panel {
        background-color: #fff;
        padding:  10px 0;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

       
        .box-img {
          width: 100px;
          height: 65px;
          margin-right: 10px;
          .img {
            // margin-bottom: 5px;
            width: 100%;
         
            display: block;
            padding-bottom: 65px;
            background-size: cover;
            background-position: center center;

          }

        }

        .panel-body {
          .title {
            color: rgba(16, 16, 16, 1);
            font-size: 14px;
            margin-bottom: 3px;
          }

          .text {
            display: flex;
            justify-content: space-between;

            .money {
              color: rgba(255, 0, 0, 1);
              font-size: 14px;
            }
          }

          .subtitle {
            color: rgba(135, 150, 168, 1);
            font-size: 12px;
          }
        }
      }

    }
    .item:nth-last-child(2) .panel{
      border:none
    }

    &.erect {
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0);
      background-color: #fff;
      padding:  0 10px;

      .panel {
        display: flex;

        .img {
          margin-right: 10px;
          height: 65px;
          width: 100px;
        }

        .panel-body {
          flex: 1;
          .title-box {
            display: flex;

            .title {
              flex: 1;
              margin-right: 3px;
            }
          }
        }
      }
    }

  }
  .btn{
    font-size: 14px;
    color: #4289DB;
    padding: 10px;
    text-align: center;
  }
}


#release /deep/ {}